.progress {
  padding: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.progress__title {
  font-weight: 500;
  margin: 0;
}

.progress__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 90px;
  margin-top: 90px;
}

.progress__container-ring {
  width: 140px;
  height: 140px;
  position: relative;
}

.progress__container-ring circle {
  fill: none;
  stroke-width: 10;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress__container-ring-background {
  stroke: rgb(224, 230, 239);
}

.progress__container-ring-main {
  stroke: rgb(0, 91, 255);
  transition: stroke-dasharray 0.3s;
}

.progress__inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.progress__error {
  position: absolute;
  text-align: center;
  color: rgb(192, 1, 1);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

.progress__visible {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.3s ease,
    visibility 0s;
}

.progress__inputs-label {
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
}

.progress__inputs-label-item {
  box-sizing: border-box;
  text-align: center;
  width: 45px;
  height: 28px;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
  transition: all 0.3s ease;
}

.progress__inputs-label-item:focus {
  border: 1px solid rgb(0, 91, 255);
}

.progress__inputs-switch {
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
}

.progress__inputs-switch input {
  display: none;
}

.progress__inputs-switch-slider {
  position: relative;
  width: 45px;
  height: 28px;
  background: rgb(224, 230, 239);
  border-radius: 20px;
  transition: 0.3s;
}

.progress__inputs-switch-slider::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

.progress__inputs-switch input:checked + .progress__inputs-switch-slider {
  background: rgb(0, 91, 255);
}

.progress__inputs-switch input:checked + .progress__inputs-switch-slider::before {
  transform: translateX(17px);
}

.progress__hidden {
  display: none;
}

@media (min-width: 420px) {
  .progress__container {
    flex-direction: row;
  }
}
